:root {
    --primary: #055492;
    --text-color: #212529;
    --text-color-200: #666;
    --font-body: Open Sans, Arial, sans-serif;
    --white: #fff;
    --text-hover: #7cc5fd;
    --gray-200: #ced4da;
}
.why-choose-us-section {
    background-color: #f9f9f9;
    padding: 60px 0;
}

.why-choose-us-section .why-choose-us-sec-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2.85rem;
}

.why-choose-us-section .heading {
    text-align: center;
    font-size: 32px;
    color: #222;
    margin-bottom: 0.5rem;
}

.why-choose-us-section-divider {
    width: 124px;
    height: 4px;
    background: var(--primary);
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    animation: expand 1s ease-in-out;

}

.why-choose-sec-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.why-choose-us-sec-card {
    background-color: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.why-choose-us-sec-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.08);
}

.why-choose-us-sec-icon {
    width: 56px;
    height: 56px;
    margin: 0 auto 16px;
    background-color: #e5f1fb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.why-choose-us-sec-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
    color: var(--text-color);
    text-align: left;
}

.why-choose-us-sec-desc {
    font-size: 14px;
    color: var(--text-color-200);
    line-height: 1.6;
    text-align: justify;
}

@media (min-width: 1024px) {
    .why-choose-sec-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}